LINKEDIN_EMAIL="youremail@email.com"
LINKEDIN_PASSWORD="linedkin_password"
LINKEDIN_JOB_LINK="https://www.linkedin.com/jobs/search/?keywords=java%20developer&f_TPR=r86400&f_AL=true&sortBy=DD"
PHONE_NUMBER="03012345678"
GROQ_API_KEY="Your_GROQ_API_KEY"