LINKEDIN_EMAIL="youremail@email.com"
LINKEDIN_PASSWORD="linedkin_password"
LINKEDIN_JOB_LINK="https://www.linkedin.com/jobs/search/?f_AL=true&f_TPR=r86400&f_WT=2&keywords=your%job&sortBy=DD"
PHONE_NUMBER="03012345678"